.Button-DS {
  background-color: #eee7e7a9;
  color: #131212;
  display: block;
  padding: 10px;
  border-radius: 2px;
  outline: none;
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1.5px;
  font-weight: bold;
  width: 95%;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border: none;
}

.Button-DS:hover {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
  background-color: #000000;
  color: #ffffff;
  transform: scale(1.02);
  cursor: grab;
}

.DETAILS {
  height: 800px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.details-container {
  background-color: rgba(255, 255, 255, 0.959);
  display: flex;
  width: 70%;
  height: 60%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 20px 0px rgba(32, 28, 28, 0.75);
}

.details-img {
  display: flex;
  flex-direction: column;
  float: left;
  width: 200px;
  height: 250px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.details-img img {
  mix-blend-mode: multiply;
  width: 90%;
  height: 80%;
}

.details-main {
  display: flex;
  float: left;
  flex-direction: column;
  width: 60%;
  height: 90%;
  transition: opacity 0.3s;
}
.details-info {
  display: flex;
  float: left;
  width: 100%;
  height: 100%;
  align-items: left;
  justify-content: left;
  text-align: left;
}
.Actions {
  display: flex;
  float: left;
  margin-left: 20px;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
}

.Text {
  color: grey;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  word-spacing: normal;
  line-height: 1;
}
.details-info ul li {
  color: rgb(44, 48, 94);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2;
  word-spacing: 2px;
  list-style: none;
  display: flex;
  font-size: 15px;
  flex-direction: column;
  justify-content: center;
}

.details-action ul {
  list-style: none;
}

.bold-text {
  color: rgb(41, 49, 153);
  align-items: baseline;
  font-size: 17px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.details-menu {
  background-color: #ddd7d7d0;
  margin-top: 50px;
  width: 1350px;
  height: 30%;
}

.details-menu ul {
  display: flex;
  color: rgb(44, 48, 94);
  gap: 10rem;
  font-size: 20px;
  margin-left: 200px;
  justify-content: flex-start;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
}

.details-menu li span {
  display: none;
  text-decoration: none;
  text-align: left;
  font-size: 15px;
}
.details-menu li:hover {
  color: rgb(156, 53, 130);
  cursor: pointer;
}

.details-menu li:hover span {
  display: block;
  position: absolute;
  line-height: 1.5;
  font-size: medium;
  color: rgb(156, 53, 130);
  cursor: pointer;
  text-decoration: none;
}
