.Login {
  background-color: #ffffffb2;
  align-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  height: 100%;
  padding: 5%;
}
.Container {
  justify-content: center;
  align-content: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.login-form {
  justify-content: center;
}
.login-form Input {
  border-style: solid;
  border-color: #3f3238c9;
  border-width: 1px;
}
.Container h2 {
  align-items: center;
}
.Button-LS {
  background-color: #dd4792c9;
  color: #ffffff;
  display: block;
  padding: 13px;
  border-radius: 5px;
  outline: none;
  font-size: 18px;
  letter-spacing: 1.5px;
  font-weight: bold;
  width: 40%;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: all 0.1s ease-in-out;
  border: none;
}
.Button-LS:hover {
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);
  transform: scale(1.02);
}
.login-Head {
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: gray;
  font-weight: light;
  align-items: center;
  justify-content: center;
}

.checkbox {
  display: block;
  padding: 14.5px;
  width: 20%;
  margin: 2rem 0;
  color: #000000;
  outline: none;
  background-color: #e6dbdb77;
  border: none;
  border-radius: 5px;
}

.Checkbox-label {
  color: #0a0a0a;
  outline: none;
  border: none;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
